body { font-family: sans-serif; }
#search { padding: 10px;}
#results-container {
  height: 100%; 
  width: 800px;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  font-size:36px;
}
input[type="text"]
{
    font-size:36px;
}
ul { list-style-type: none; padding: 0; }
li { margin-bottom: 5px; }
